div .today-finished {

    margin: 16px 0;
    border-radius: 16px;
    box-sizing: border-box;
}

div .today-finished .finished-quiz {
    padding-left: 8px;
    background-color: lightblue;
    overflow-y: scroll;
}