* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    text-align: center;
}

div .container {
    align-items: center;
}

div.banners {
   width: 80%; 
   margin-top: 48px;
   margin-left: 32px;
   display: flex;
   justify-content: space-between;
}

div .banners button {
    border: 0;
    background-color: #D9D9D9;
    height: 32px;
    padding: 0 8px;
    border-radius: 5px;
}

div .banners button.active {
    color: #007FFF;
}

hr {
    width: 80%;
    margin-top: 8px;
    margin-left: 32px;
}

div .contents {
    margin-top: 24px;
    margin-left: 32px;
    text-align: left;
}

div .contents .dailyQuizCreation {
    display: relative;
    width: 80%;
}

div .dailyQuizCreation .date {
    margin-bottom: 8px;
}

div .dailyQuizCreation .quizAndAnswer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 1000px) {
        flex-direction: column;
    }

    p {
        font-size: 12px;
    }

    textArea {
        font-size: 12px;
    }

    .creation {
        width: 40%;
        height: 30%;
    }
}

div .tags {
    margin: 8px 0;
    display: flex;
    justify-content: wrap;
    align-items: left;

    .input {
        width: 16vw;
    }    

    .history .tabs {
        /* width: 70%; */

        width: 65vw;
        /* width: 30rem; */
        padding: 0;
        margin: 0;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        /* overflow: scroll; */
        overflow-x: auto;

        p {
            margin-right: 8px;
            border: 1px solid;
            border-radius: 5px;
            padding: 1px;
        }
        
    }

    div {
        margin: 0 16px;
    }

    input {
        height: 16px;
    }

    .history {
        /* flex-grow: 1; */

        hr {
            width: 70%;
            margin: 8px 0;
            padding: 0;
        }
    }
}

div .dailyQuizCreation .buttons {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}


/* Quiz cards CSS */
.quiz-cards {
    background-color: lightgray;
    border-radius: 5px;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quiz-cards .card-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;

    h1 {
        font-size: 16px;
    }

    p {
        font-size: 10px;
        font-weight: 400;
    }
}

.quiz-cards button {
    margin: 8px 0;

}

.data-container {
    display: none;

    &.successed {
        display: inline;
        background-color: green;
    }

    &.failed {
        display: inline;
        background-color: red;
    }

}