* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e3c6b0;
    text-align: center;
}

/* Adding this because something wrong: 
index.html:1 Refused to apply style from 'http://127.0.0.1:5502/reset.css' because its MIME type ('text/html') 
is not a supported stylesheet MIME type, and strict MIME checking is enabled.

Not sure why so far: 
@date: 10/14/2024
@author: Yuanfeng Li
*/
/* div {
    color: black !important;
} */

div .container {
    align-items: center;
}

div.banners {
   width: 80%; 
   margin-top: 48px;
   margin-left: 32px;
   display: flex;
   justify-content: space-between;
}

div .banners button {
    border: 0;
    background-color: #D9D9D9;
    height: 32px;
    padding: 0 8px;
    border-radius: 5px;
}

div .banners button.active {
    color: #007FFF;
}

hr {
    width: 80%;
    margin-top: 8px;
    margin-left: 32px;
}

div .contents {
    margin-top: 24px;
    margin-left: 32px;
    text-align: left;
}

div .contents .dailyQuizCreation {
    display: relative;
    width: 80%;
}

div .dailyQuizCreation .date {
    margin-bottom: 8px;
}

div .dailyQuizCreation .quizAndAnswer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60vh;
    width: 100%;


    @media screen and (max-width: 1100px) {
        flex-direction: column;
        width: 100%;
    }

    p {
        font-size: 12px;
    }

    textarea {
        font-size: 12px;
        
    }

    .creation {
        width: 40%;
        height: 90%;

        textarea {
            width: 100%;
            height: 100%;

            @media screen and (max-width: 1100px) {
                width: 80vw;
                height: 80%;
            }
        }
    }

    .answer {
        width: 40%;
        height: 90%;


        textarea {
            width: 100%;
            height: 100%;

            @media screen and (max-width: 1100px) {
                width: 80vw;
                height: 80%;
                
                
            }
        }
    }
}

div .tags {
    margin: 8px 0;
    display: flex;
    justify-content: wrap;
    align-items: left;
    /* width: 65vw; */
    /* overflow-x: auto; */

    .input {
        width: 16vw;
        margin: 0;
    }    

    .history .tabs {
        width: 65vw;
        padding: 0;
        margin: 0;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        /* overflow: scroll; */
        overflow-x: auto;
        overflow-y: hidden;

        p {
            height: 14px;
            /* width: 100px; */
            margin-right: 8px;
            border: 1px solid;
            border-radius: 5px;
            padding: 4px;
            background-color: rgb(217, 217, 217);
            /* keep all language chars in same line */
            word-break: keep-all;
            /* keep hyphen in the same line */
            white-space: nowrap;
        }
        
    }

    div {
        margin: 0 16px;
    }

    input {
        height: 16px;
    }

    .history {
        display: block;
        height: 125px;

        hr {
            width: 100%;
            margin: 8px 0;
            padding: 0;
        }
    }
}

/* div .tags div.history {
    position: static;
} */

div .dailyQuizCreation .buttons {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}


/* Quiz cards CSS */
.quiz-cards {
    background-color: lightgray;
    border-radius: 5px;
    /* width: 85%; */
    height: 80px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quiz-cards .card-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;

    h3 {
        font-size: 20px;
    }

    pre {
        font-size: 16px;
        font-weight: 400;
        overflow: hidden;
    }
}

.quiz-cards button {
    margin: 8px 2px;
    height: 80%;
}

.data-container {
    display: none;

    &.successed {
        display: inline;
        background-color: green;
    }

    &.failed {
        display: inline;
        background-color: red;
    }

}


/* Quiz Tabs */
.contents {
    width: 80vw;
}

div .quiz-item {
    margin: 16px 0;
    width: 100%;
}

.quiz {
    padding-left: 8px;
    padding-right: 8px;
    overflow-y: auto;
    margin: 16px 0;
}

.todayTaskContainer .quiz {
    background-color: #BF9d9d;
}

.QuizHistoryContainer .quiz {
    background-color: whitesmoke;
}

.takeQuiz {
    text-align: left;
}

.takeQuiz .threeParts {
    margin: 16px 0;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;


    @media screen and (max-width:1100px) {
        flex-direction: column;
    }

    #quiz_paragraph {
        overflow: scroll;
        height: 30%;

        @media screen and (max-width:1100px) {
            margin: 0;
            width: 80vw;
            height: 20vh;
        }
    }

    #write_answer {
        width: 30%;
        margin-left: 2rem;

        textarea {
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width:1100px) {
            margin: 0;
            width: 80vw;
            height: 20vh;
        }
    }

    #answer_paragraph {
        overflow: scroll;
        width: 30%;
        display: none;

        &.active {
            display: block;
        }


        @media screen and (max-width:1100px) {
            margin: 1rem 0 0 0;
            width: 80vw;
            height: 20vh;
        }
        
    }
}

.takeQuiz input {
    display: block;
}

.takeQuiz button {
    display: block;
    margin: 1rem 0;
}

span.successed {
    display: none;

    &.active {
        display: inline;
        background-color: green;
    }
}


span.failed {
    display: none;

    &.active {
        display: inline;
        background-color: red;
    }
}

.card-logs {
    height: 80px;
}

.logs {
    &.hide {
        background-color: gray;
    }
}


.QuizHistoryContainer p {
    font-size: 16px;
    font-weight: bold;
}


