.contents .skeleton .section {
    margin: 32px 0;
}

.contents .skeleton .section .buttons{
    display: flex;
    justify-content: space-between;
}

.contents .quiz .playground-item .playground-cards button.logs.active {
    background-color: darkgray;
}

.contents .quiz .playground-item div.logs div.log-item {
    margin: 8px 0;
    background-color: antiquewhite;
}